<h2>BÁO CÁO CÔNG NỢ</h2>

{{!-- <div id="search">
  <i class="material-icons">search</i>
  <input class="form-control " type="search" placeholder="Nhập thông tin cần tìm" aria-label="Search">
  <button class="btn btn-outline-dark my-0 my-sm-0" type="submit">Tìm</button>
</div> --}}

<div id="search">

  <div class="year">
    <form method="post">
      <label for="Type">Tháng :</label>
      <select name="month" id="month">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <label for="Type">Năm :</label>
      <select name="year" value="{{year}}">
        {{#each Year}}
        <option>{{date_part}}</option>
        {{/each}}
      </select>
      <button style="margin-left: 20px; height:40px; width:150px; border-radius: 10px;" class="btn btn-dark " type="submit">Lập báo cáo</button>
    </form>
  </div>
</div>

{{#if check}}

<div id="container">
  <div id="main">
    <hr id="hr2">
    <div class="infor" id="infor">
      <p> Không có dữ liệu</p>
    </div>
  </div>
</div>

{{else}}

<div id="container">
  <div id="main">
    <h3>{{title}}</h3>
    <hr id="hr2">
    <div class="infor" id="infor">
      <form action="" class="form" id="form-1">
        <table class="table table-bordered table-light">
          <thead>
            <tr>
              <th scope="col">Tên Khách Hàng</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Nợ đầu</th>
              <th scope="col">Phát sinh</th>
              <th scope="col">Nợ cuối</th>

            </tr>
          </thead>
          <tbody>
             {{#each report}}
            <tr>
              <th>{{FullName}}</th>
              <th>{{PhoneNumber}}</th>
              <th>{{dept_money}}</th>
              <td>{{paid}}</td>
              <td>{{last_money}}</td>
            </tr>

            {{/each }}
          </tbody>
        </table>

      </form>
    </div>
  </div>
</div>
{{/if}}